<h1> Welcome to MakersBnB </h1>

<form action="/spaces/create" method="post">
  <input type="text" name="owner_id"> Owner id<br>
  <input type="text" name="name"> Name<br>
  <input type="text" name="information"> Information<br>
  <input type="text" name="location"> Location<br>
  <input type="text" name="price"> Price<br><br>
  <input type="submit" value="Add space">
</form>
